* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

li {
	text-decoration: none;
	cursor: pointer;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

button {
	border: none;
	background: inherit;
	cursor: pointer;
	color: inherit;
	font-family: inherit;
}