:root {

	/* Color variables */
	--main-color: #A0A081;
	--secondary-color: #F2A950;
	--tertiary-color: #F2C84B;
	--contrast-color: #F2865E;
	--main-light-color: #ffffff;
	--main-dark-color: #000000;

	--main-font-color: #000000;
	--secondary-font-color: #ffffff;

	--main-transparent-color: rgba(242, 134, 94, 0.4);
	--secondary-transparent-color: rgba(160, 160, 129, 0.7);
	--dark-transparent-color: rgba(0, 0, 0, 0.2);

	/* Fontsize variables */
	--navigation-font-size-desktop: 24px;

	--headline-font-size: 45px;
	--medium-headline-font-size: 35px;
	--sub-headline-font-size: 25px;

	--body-font-size: 16px;
	--medium-body-font-size: 18px;
	--large-body-font-size: 24px; 

	--product-card-headline: 28px;
	--product-card-sub-headline: 22px;

	--mobile-headline-font-size: 30px;
	--mobile-sub-headline-font-size: 20px;

	--footer-links-font-size: 12px;
	--footer-links-font-size-mobile: 15px;

}