.information {
	margin: 1rem;
}

.information__container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	justify-items: stretch;
	gap: 1rem;
	margin: 1rem 0;
}

.information__container-text-title {
	padding: 1rem 2rem 0.5rem;
	font-size: var(--mobile-headline-font-size);
	font-family: 'auster';
	font-weight: 400;
}

.information__container-text-paragraph {
	padding: 0.5rem 2rem 2rem;
	font-size: var(--body-font-size);
	font-family: 'moonblossom';
} 

.information__container-text {
	background: var(--main-transparent-color);
	max-width: 25rem;
	margin: auto;
}

.information__container-image {
	max-width: 25rem;
	margin: auto;
}

@media screen and (min-width: 768px) {
	.information__container-text {
		max-width: 40rem;
	}
	
	.information__container-image {
		max-width: 40rem;
	}

	.information__container {
		gap: 2rem;
		margin: 2rem 0;
	}
}

@media screen and (min-width: 1100px) {
	.information {
		margin: 3rem;
	}

	.information__container-text-title {
		font-size: var(--medium-headline-font-size);
	}
	
	.information__container-text-paragraph {
		font-size: var(--medium-body-font-size);
	}
	
	.information__container {
		grid-template-columns: 1fr 1fr;
	}

	.information__container:nth-child(even) {
		direction: rtl;
	}

	.information__container-image {
		max-width: none;
		margin: 0;
	}

	.information__container-text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		max-width: none;
		margin: 0;
	}
}

@media screen and (min-width: 1400px) {
	.information {
		margin: 7rem;
	}
	
	.information__container-image {
		max-width: none;
		margin: 0;
	}

	.information__container-text {
		justify-content: center;
		align-items: start;
		padding: 2rem;
		max-width: none;
		margin: 0;
	}
	
	.information__container-text-title {
		font-size: var(--headline-font-size);
	}
	
	.information__container-text-paragraph {
		font-size: var(--large-body-font-size);
	} 

}

